<h1>All Events</h1>
<%@event.each do |event|%>
  <%if event.is_event_past? == false%>
  <p>Upcoming Events:</p>
    <p><%=event.event_name%> event on: <%=event.event_date%></p>
    <p><%= button_to 'Attend', action: 'create', controller: 'event_attendence',method: 'post', selected_event_id: event.id%>
  <br/>
  <%end%>

   <%if event.is_event_past?%>
  <p>Past Events:</p>
    <p><%=event.event_name%> event on: <%=event.event_date%></p>
  <br/>
  <%end%>
<%end%>