<h1>All Events</h1>

 <h2>Upcoming Events:</h2>
<%@event.future_events.each do |event|%>
    <p><%=event.event_name%> event on: <%=event.event_date%></p>
    <p><%= button_to 'Attend', action: 'create', controller: 'event_attendence',method: 'post', selected_event_id: event.id%>
  <br/>
<%end%>

<h3>Past Events:</h3>
<%@event.past_events.each do |event|%>
  
    <p><%=event.event_name%> event on: <%=event.event_date%></p>
  <br/>
  
<%end%>