<h1><%= @user.username%></h1>

<h2>Events this user is hosting:</h2>
<%@user.hosted_events.each do |form|%>
<%= link_to 'Invite', user_index_path%>
<p><%=form.event_name%></p>
<p>Date: <%=form.event_date%></p>
<%end%>

<h3>Events <%=@user.username%> is attending:</h3>
<p>Upcoming Events:</p>
<%@user.events.future_events.each do |event|%>
    <p><%=event.event_name%> on <%=event.event_date%>.</p>
<%end%>

<p>Past Events:</p>
<%@user.events.past_events.each do |event|%>
    <p><%=event.event_name%> on <%=event.event_date%>.</p>
<%end%>

